

body{
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif; /* Define a fonte para os cabeçalhos */
  }
  
  p {
    font-family: "Montserrat", sans-serif; /* Define a fonte para os parágrafos */
  }
  
  ul, ol {
    font-family: "Montserrat", sans-serif; /* Define a fonte para as listas não ordenadas e ordenadas */
  }
  
  /* Adicione mais elementos conforme necessário */
  
.navbar {
    background-color: #FFAD12 !important;
    font-size: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }

  .navbar img{
    max-height: 120px;
    margin-right: 20px;
  }

.carousel-item img{
    max-height: 700px; 
    object-fit: cover;
}

.btn{
    margin-top: 15px;
    background-color: rgb(80, 80, 80);
}

.card{
    background-color: #0e0e0e;
    color: white;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    overflow: hidden; 
    
    
}


#cardEX{
    max-width: 300px;
}

.custom-border{
    border-width: 10px;
    border-color: #0E0E0E;
}

.card-title{
    font-weight: bold;
    font-size: 30px;
}

#cardbronze span{
    color: rgb(167, 78, 27);
}


#cardgold span{
    color: gold;
}

#cardblack span{
    color: black;
}

#carouselExampleIndicators{
    margin-bottom: 20px;
}

ul.list-group .list-group-item{
    background-color: transparent;
    color: white;
    border-color: rgb(51, 51, 51);
    text-align: left;

}

p.h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white
}

p.h1 span{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #FFAD12
}

.custom1{
    margin: 20px;
}

.aplicativo{
    font-weight: bold;
}

.aplicativo h1{
    font-weight: 24rem;
    margin-left: 270px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif !important;
    font-size: 40px;
    word-spacing: -5px;

}

.aplicativo h2{
    font-weight: 24rem;
    margin-left: 270px;
    word-spacing: -5px;
}

.aplicativo ul{
    font-weight: 24rem;
    margin-left: 270px;
}
#cardaulas1{
    text-align: left;
    font-size: 15px;
}

#btaulas{
    align-items: last baseline;
}

.appcell{
    background-color: rgb(255, 240, 152); 
    width: 450px;
    height: 360px;
    margin-right: 250px;
    border-radius: 50px;
    display: flex; 
    justify-content: center; 
    align-items: flex-end; 
    overflow: hidden; 
    position: relative;
}

.footer .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.footer .logo-container img {
    max-height: 100%;
    max-width: 100%;
}

.footer .container {
    padding-left: 15px;
    padding-right: 15px;
}

.footer .footer-column {
    text-align: center; 
    margin-bottom: 30px;
}

.footer-column {
    
}

.footer-column h5 {
    color: #ffae00; 
}

.footer-column ul {
    list-style-type: none; 
    padding-left: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #666;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #333; 
}

.btn {
    background-color: #FFAD12;
    color: black;
}

.btn:hover {
    background-color: #e39b00; 
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.btn-warning {
    background-color: #FFAD12;
    color: black;
}

.btn-warning:hover {
    background-color: #e39b00;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@keyframes zoomInOut {
    0% {
        transform: scale(1.5);
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1); 
    }
}

.animate-on-scroll {
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.animate-on-scroll.active {
    opacity: 1; 
    animation: zoomInOut 3s ease-in-out; 
    animation-fill-mode: forwards; 
}

/*PARTE DO SOBRE*/

.about-section {
    padding: 50px 0;
    background-color: #f8f9fa; /* Cor de fundo */
}

.about-section h1 {
    color: #333; /* Cor do título */
}

.about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.logo-container img {
    max-height: 80px; /* Ajuste o tamanho do logo conforme necessário */
}

/*PARTE DAS AULAS*/

.textoaulas{
    justify-content: center;
}

.textaulas2 h1{
    font-weight: bold;
}

/*PARTE DO APP*/

#btapp{
    margin-right: 250px;
}

/*PARTE DO CONTATO*/

#textocontato{
    color: #FFAD12;
}

#textocontato.span{
    color: #FFAD12;
}